name: build

on: pull_request

jobs:
  goreleaser:
    name: go
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker build -t oryd/xgoreleaser:test-build .
      - run: |
          docker rm -f build || true
          docker build -f ./test/.docker/Dockerfile-goreleaser -t build .
          docker run --rm -v /var/run/docker.sock:/var/run/docker.sock --name build build
